In [2]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/plotly/datasets/master/gapminder_unfiltered.csv')
df

          country continent  year  lifeExp       pop   gdpPercap
0     Afghanistan      Asia  1952   28.801   8425333  779.445314
1     Afghanistan      Asia  1957   30.332   9240934  820.853030
2     Afghanistan      Asia  1962   31.997  10267083  853.100710
3     Afghanistan      Asia  1967   34.020  11537966  836.197138
4     Afghanistan      Asia  1972   36.088  13079460  739.981106
...           ...       ...   ...      ...       ...         ...
3308     Zimbabwe    Africa  1987   62.351   9216418  706.157306
3309     Zimbabwe    Africa  1992   60.377  10704340  693.420786
3310     Zimbabwe    Africa  1997   46.809  11404948  792.449960
3311     Zimbabwe    Africa  2002   39.989  11926563  672.038623
3312     Zimbabwe    Africa  2007   43.487  12311143  469.709298

[3313 rows x 6 columns]

In [3]:
df['country']

0       Afghanistan
1       Afghanistan
2       Afghanistan
3       Afghanistan
4       Afghanistan
           ...
3308       Zimbabwe
3309       Zimbabwe
3310       Zimbabwe
3311       Zimbabwe
3312       Zimbabwe
Name: country, Length: 3313, dtype: object

In [5]:
df.country.unique()

array(['Afghanistan', 'Albania', 'Algeria', 'Angola', 'Argentina',
       'Armenia', 'Aruba', 'Australia', 'Austria', 'Azerbaijan',
       'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus',
       'Belgium', 'Belize', 'Benin', 'Bhutan', 'Bolivia',
       'Bosnia and Herzegovina', 'Botswana', 'Brazil', 'Brunei',
       'Bulgaria', 'Burkina Faso', 'Burundi', 'Cambodia', 'Cameroon',
       'Canada', 'Cape Verde', 'Central African Republic', 'Chad',
       'Chile', 'China', 'Colombia', 'Comoros', 'Congo, Dem. Rep.',
       'Congo, Rep.', 'Costa Rica', "Cote d'Ivoire", 'Croatia', 'Cuba',
       'Cyprus', 'Czech Republic', 'Denmark', 'Djibouti',
       'Dominican Republic', 'Ecuador', 'Egypt', 'El Salvador',
       'Equatorial Guinea', 'Eritrea', 'Estonia', 'Ethiopia', 'Fiji',
       'Finland', 'France', 'French Guiana', 'French Polynesia', 'Gabon',
       'Gambia', 'Georgia', 'Germany', 'Ghana', 'Greece', 'Grenada',
       'Guadeloupe', 'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana',
       'Haiti', 'Honduras', 'Hong Kong, China', 'Hungary', 'Iceland',
       'India', 'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy',
       'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya',
       'Korea, Dem. Rep.', 'Korea, Rep.', 'Kuwait', 'Latvia', 'Lebanon',
       'Lesotho', 'Liberia', 'Libya', 'Lithuania', 'Luxembourg',
       'Macao, China', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives',
       'Mali', 'Malta', 'Martinique', 'Mauritania', 'Mauritius', 'Mexico',
       'Micronesia, Fed. Sts.', 'Moldova', 'Mongolia', 'Montenegro',
       'Morocco', 'Mozambique', 'Myanmar', 'Namibia', 'Nepal',
       'Netherlands', 'Netherlands Antilles', 'New Caledonia',
       'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'Norway', 'Oman',
       'Pakistan', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru',
       'Philippines', 'Poland', 'Portugal', 'Puerto Rico', 'Qatar',
       'Reunion', 'Romania', 'Russia', 'Rwanda', 'Samoa',
       'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Sierra Leone', 'Singapore', 'Slovak Republic', 'Slovenia',
       'Solomon Islands', 'Somalia', 'South Africa', 'Spain', 'Sri Lanka',
       'Sudan', 'Suriname', 'Swaziland', 'Sweden', 'Switzerland', 'Syria',
       'Taiwan', 'Tajikistan', 'Tanzania', 'Thailand', 'Timor-Leste',
       'Togo', 'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey',
       'Turkmenistan', 'Uganda', 'Ukraine', 'United Arab Emirates',
       'United Kingdom', 'United States', 'Uruguay', 'Uzbekistan',
       'Vanuatu', 'Venezuela', 'Vietnam', 'West Bank and Gaza',
       'Yemen, Rep.', 'Zambia', 'Zimbabwe'], dtype=object)

In [6]:
df[df.country == 'Taiwan']

     country continent  year  lifeExp       pop     gdpPercap
2957  Taiwan      Asia  1950    54.60   7981454   1064.100714
2958  Taiwan      Asia  1951    55.10   8251326   1113.333184
2959  Taiwan      Asia  1952    58.50   8550362   1206.947913
2960  Taiwan      Asia  1953    60.30   8849962   1278.499657
2961  Taiwan      Asia  1954    62.00   9159966   1356.815915
2962  Taiwan      Asia  1955    62.40   9485858   1419.976833
2963  Taiwan      Asia  1956    62.50   9825346   1449.465184
2964  Taiwan      Asia  1957    62.40  10164215   1507.861290
2965  Taiwan      Asia  1958    64.20  10500314   1562.085741
2966  Taiwan      Asia  1959    64.20  10852996   1630.240580
2967  Taiwan      Asia  1960    64.40  11209160   1679.609606
2968  Taiwan      Asia  1961    64.90  11563348   1740.861311
2969  Taiwan      Asia  1962    65.20  11918938   1822.879028
2970  Taiwan      Asia  1963    66.00  12276610   1938.910509
2971  Taiwan      Asia  1964    66.70  12631480   2118.473387
2972  Taiwan      Asia  1965    67.40  12977635   2297.808004
2973  Taiwan      Asia  1966    67.40  13321002   2442.393391
2974  Taiwan      Asia  1967    67.50  13648692   2643.858681
2975  Taiwan      Asia  1968    67.60  13962358   2828.835670
2976  Taiwan      Asia  1969    68.60  14282297   3022.679676
2977  Taiwan      Asia  1970    68.69  14598316   3300.736289
2978  Taiwan      Asia  1971    69.10  14918496   3652.203544
2979  Taiwan      Asia  1972    69.39  15226039   4062.523897
2980  Taiwan      Asia  1973    69.45  15525588   4505.877460
2981  Taiwan      Asia  1974    69.81  15824103   4481.238056
2982  Taiwan      Asia  1975    70.07  16122188   4618.243589
2983  Taiwan      Asia  1976    70.43  16450056   5169.231377
2984  Taiwan      Asia  1977    70.59  16785196   5596.519826
2985  Taiwan      Asia  1978    71.16  17111535   6252.784539
2986  Taiwan      Asia  1979    71.31  17450136   6656.700817
2987  Taiwan      Asia  1980    71.54  17848320   6995.031783
2988  Taiwan      Asia  1981    71.65  18177430   7302.762120
2989  Taiwan      Asia  1982    72.16  18501390   7426.354774
2990  Taiwan      Asia  1983    72.15  18803390   7923.030100
2991  Taiwan      Asia  1984    72.81  19083348   8653.915924
2992  Taiwan      Asia  1985    72.99  19337363   8973.481519
2993  Taiwan      Asia  1986    73.12  19555581   9903.312959
2994  Taiwan      Asia  1987    73.40  19757799  11054.561750
2995  Taiwan      Asia  1988    73.21  19976096  11821.522040
2996  Taiwan      Asia  1989    73.52  20207541  12683.803010
2997  Taiwan      Asia  1990    73.80  20278957  13361.450620
2998  Taiwan      Asia  1991    74.28  20492997  14233.514300
2999  Taiwan      Asia  1992    74.26  20686918  15215.657900
3000  Taiwan      Asia  1993    74.55  20883467  16120.590370
3001  Taiwan      Asia  1994    74.72  21087873  17154.214890
3002  Taiwan      Asia  1995    74.54  21282829  18108.614510
3003  Taiwan      Asia  1996    74.72  21448723  19107.520430
3004  Taiwan      Asia  1997    75.25  21628605  20206.820980
3005  Taiwan      Asia  1998    75.45  21823024  20944.272220
3006  Taiwan      Asia  1999    75.55  21993460  21984.537420
3007  Taiwan      Asia  2000    76.11  22151237  23094.572880
3008  Taiwan      Asia  2001    76.50  22303700  22434.196750
3009  Taiwan      Asia  2002    76.99  22454239  23235.423290
3010  Taiwan      Asia  2003    77.19  22603000  23879.030740
3011  Taiwan      Asia  2004    77.30  22749838  25238.823570
3012  Taiwan      Asia  2005    77.29  22894384  26069.000000
3013  Taiwan      Asia  2006    78.10  23036087  27248.067890
3014  Taiwan      Asia  2007    78.40  23174294  28718.276840